.type-writer-container {
    display: inline-flex;
    align-items: center;
}

/* Cursor with flicker effect */
.typewriter-cursor {
    display: inline-block;
    width: 10px;
    background-color: #1e1e1e;
    margin-left: 2px;
    animation: flicker 0.5s steps(1, end) infinite;
}

@keyframes flicker {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}