body {
  margin: 0;
  padding: 0;

  background-color: #1e1e1e;
  color: white;
  overflow: hidden;

  height: 100%;

  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'JetBrains Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'JetBrains Mono', monospace;
}
